[submodule "anti-hallucination-guard"]
	path = anti-hallucination-guard
	url = https://github.com/stsgs1980/Anti-hallucination-guard.git
[submodule "FabInspector"]
	path = FabInspector
	url = https://github.com/stsgs1980/FabInspector.git
